@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    justify-content: center;
    margin: 50px auto;
    background-color: antiquewhite;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
}

.container > h3 {
    font-size: 2rem;
}

.container > span {
    font-size: 1rem;
}


.action-buttons {
    width: 300px;
    background: none;
    border-radius: 120px;
    padding: 10px;
    border: 1px solid;
}

.socials-container .socials-icon{
    margin: 5px 10px;
    position: relative;
    
}